@media only screen and (max-width:975px) {
    nav {
        /* background-color: orange; */
    }
    nav>ul>li {
        margin: 10px;
    }
}

@media only screen and (max-width:874px) {
    .menuOpener {
        display: block;
    }
    nav>ul {
        flex-direction: column;
        top: 55px;
        background-color: #2e4252;
        border: 1px solid black;
        width: 60%;
        display: none;
    }
    nav>ul>li {
        margin: 0px;
    }
    nav>ul>li>a {
        color: #fff;
    }
}

@media only screen and (max-width:502px) {
    nav>ul {
        width: 100%;
    }
}