@media only screen and (max-width:975px) {
    nav {
        /* background-color: orange; */
    }
    nav>ul>li {
        margin: 10px;
    }
}

@media only screen and (max-width:874px) {
    .menuOpener {
        display: block;
    }
    nav>ul {
        flex-direction: column;
        top: 55px;
        background-color: #2e4252;
        border: 1px solid black;
        width: 60%;
        display: none;
    }
    nav>ul>li {
        margin: 0px;
    }
    nav>ul>li>a {
        color: #fff;
    }
    #bannerCon {
        max-width: 80%;
    }
    #description {
        grid-column: 1/span 2;
        /* background-color: yellow; */
    }
    #bannerImage {
        grid-column: 1/3;
        grid-row: 2/3;
    }
}

@media only screen and (max-width: 700px) {
    #bannerTitle {
        font-size: 20px;
    }
    .footerLinksCon>ul {
        /* background-color: magenta; */
        list-style-type: none;
        font-size: 12px;
    }
    .footerLinksCon>ul>li>a {
        color: #fff;
    }
    .footerImage {
        width: 100px;
    }
    .footerImage>figcaption {
        font-size: 11px;
    }
}

@media only screen and (max-width: 502px) {
    nav>ul {
        width: 100%;
    }
    #bannerCon {
        max-width: 100%;
    }
    .cards {
        width: 80%;
    }
    .footerLinksCon>ul {
        margin: 5px;
    }
}

@media only screen and (max-width: 356px) {
    .footerLinksCon>ul {
        font-size: 9px;
    }
}