@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Signika+Negative&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    /* background-color: lightblue; */
    /* padding: 2px; */
}

nav {
    background-color: #0182e4;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    /* background-color: cyan; */
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    list-style-type: none;
}

nav>ul>li:hover {
    background-color: #046383;
}

nav>ul>li>a {
    text-decoration: none;
    color: #fff;
}

#logoCon {
    display: flex;
    align-items: center;
}

#logoConImg {
    background-color: #fff;
}

.small-logo {
    height: 40px;
    width: 40px;
}

#navLinks {
    position: absolute;
    right: 0;
}

.menuOpener {
    font-size: 25px;
    position: absolute;
    right: 20px;
    color: #fff;
    display: none;
}

#headerBrandName {
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    /* text-decoration: underline; */
    margin-left: 5px;
    color: #fff;
}

.fa-phone {
    margin-left: 4px;
}


/* styling  banner */

#banner {
    min-height: 90vh;
    padding-top: 20px;
    width: 100vw;
    max-width: 100%;
    /* background-color: #03b3f4; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerCon {
    background-color: #5e678d;
    max-width: 70%;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 60% 1fr;
}

#bannerTitle {
    grid-column: 1/span 2;
    text-align: center;
    margin: 5px;
    color: #fff;
}

#description {
    /* background-color: lightsalmon; */
    padding: 5px;
    font-style: italic;
    color: #fff;
    position: relative;
}

#description>p::first-letter {
    font-size: 35px;
    font-weight: bold;
}

#bannerImage {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerImage>img {
    width: 99%;
    height: auto;
}

#descriptionLangchanger {
    font-size: 16px;
    padding: 2px 5px;
    cursor: pointer;
    float: right;
    border: none;
    background-color: #C8102E;
    color: #fff;
}


/* Services */

#services {
    width: 100vw;
    max-width: 100%;
    background-color: #14466c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#services>h1 {
    font-size: 32px;
    color: #fff;
    margin: 10px;
}

#servicesCon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cards {
    border: 1px solid #fff;
    background-color: #fff;
    height: 350px;
    width: 250px;
    cursor: pointer;
}

.cards:hover {
    transform: scale(1.07);
    transition: 1s;
}

.cardImages {
    width: 100%;
    height: 200px;
    /* background-color: magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cardImages>img {
    width: 100%;
    height: auto;
}

.cardsTitle {
    /* background-color: yellow; */
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cardsDesc {
    /* background-color: #5e678d; */
    height: 110px;
    overflow: auto;
    padding: 2px;
}

.cardsDesc::first-letter {
    margin-left: 20px;
}

.cardsDesc::-webkit-scrollbar {
    width: 0;
}


/* Contact us */

#contact {
    width: 100vw;
    max-width: 100%;
    background-color: #00d5ab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactsCon {
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contactsCon>ul {
    display: grid;
    width: 100%;
    /* background-color: palegreen; */
    grid-template-rows: 200px 200px;
    grid-template-columns: repeat(auto-fit, minmax(271px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding: 10px;
}

.contactListCon {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: #f9f8fcd6;
    color: #384140;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 12px black;
}

.contactListCon:hover {
    background-color: #fff;
    box-shadow: 0px 0px 6px 6px grey;
    transform: scale(1.011)
}

.contactListCon>i {
    font-size: 35px;
    margin: 5px;
}

.contactListCon>span {
    font-weight: bolder;
    margin: 5px;
}

.contactListCon>a {
    text-decoration: none;
    color: #384140;
}

footer {
    background-color: #90439f;
    padding: 10px;
}

.footerImageCon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #bedfdf;
}

.footerImageCon>img {
    width: 70px;
    height: auto;
}

.footerLinksCon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: yellowgreen; */
    padding: 10px;
}

.footerLinksCon>ul {
    /* background-color: magenta; */
    list-style-type: none;
    color: #fff;
    margin: 10px;
}

.footerLinksCon>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.footerLinksCon>ul>li>a:hover {
    text-decoration: underline;
}

.footerLinksCon>ul>span {
    font-weight: bolder;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
}

.footerImage {
    /* border: 2px solid black; */
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.footerImage>img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.footerImage>figcaption {
    font-size: 20px;
    color: #fff;
}

.footerThanksDiv {
    background-color: #04383a;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}